---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'EcoBuddy',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Ločuj, varuj, glasuj!',
        href: 'https://slovenia.socialimpactaward.net/',
        target: '_blank',
      }
    ]}
    image={{ src: '~/assets/images/eb_sticker.png', alt: 'EcoBuddy letak' }}
  >
    <Fragment slot="title">
      EcoBuddy je mobilna aplikacija za
      <span class="text-primary highlight"> pravilno ločevanje odpadkov</span><span class="hidden sm:inline">, ki deluje
      na podlagi računalniškega vida</span>.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">EcoBuddy ekipa</span> združuje strast do tehnologije in trajnostnega razvoja. Z EcoBuddyjem želimo prispevati k boljšemu in odgovornejšemu ravnanju z odpadki. 
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="Hvala, ker ste del naše zelene prihodnosti"
    image={{
      src: '~/assets/images/eb_sia.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">O tekmovanju Social Impact Award</h3>
      Social Impact Award je največje mednarodno tekmovanje za mlade inovatorje, ki želijo ustvariti družbeno ali okoljsko spremembo.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 bg-secondary"></div>
    </Fragment>
  </Content>


  <Content
    isAfterContent
    isReversed
    image={{
      src: '~/assets/images/eb_app.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Aplikacija EcoBuddy</h3>
      Pri EcoBuddy-ju verjamemo v moč tehnologije za gradnjo boljše prihodnosti. EcoBuddy prepozna odpadek s pomočjo kamere vašega telefona in vam pomaga razvrstiti odpadek v ustrezen zabojnik. Aplikacija vas obenem tudi motivira in spodbuja k razvijanju trajnostnih navad.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 bg-secondary"></div>
    </Fragment>
  </Content>
</Layout>
